<!DOCTYPE html>
<html>
<head>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Inventory System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('property-bg.jpg');
            background-size: cover;
        }
    </style>
    <!-- In the <head> section -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

</head>
<body>
    <div class="" style="max-width : 100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Property Inventory System</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
             <li class="nav-item">
                   <a class="nav-link" asp-controller="Home" asp-action="Dashboard">Home</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="PropertyContact" asp-action="Create">Create Property</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SoldDashboard" asp-action="Index">Sold Property</a>
            </li>
          @*   <li class="nav-item">
                <a class="nav-link" asp-controller="PropertyContact" asp-action="History">View History</a>
            </li> *@
        </ul>
    </div>
</nav>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


